{% extends "scrumdea/base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
    <h2>General ideas</h2>
    <a href="{% url "create_general_idea_view" %}"> <button type="button" class="btn btn-success">Create new general idea</button></a>
    <a href="{% url "project_create_view" %}"> <button type="button" class="btn btn-success">Create project</button></a>
    <p> <br><a href="{% url "project_list_view" %}"> <button type="button" class="btn btn-warning">View all projects</button></a></p>
    <p> <br> {{ title }}</p>
    {% for idea in object_list %}

        <h3><strong>{{ idea.title }} </strong></h3>
        <strong>ID:</strong> {{ idea.id }}<br/>
        <strong>Description: </strong>{{ idea.description }}<br/>
        <strong>Votes: </strong>{{ idea.votes }}<br/>
        <a href="{% url "general_idea_detail_view" pk=idea.id %}"> <button type="button" class="btn btn-primary">Details</button></a>
        <a href="{% url "general_idea_vote_view" pk=idea.id %}"> <button type="button" class="btn btn-primary">Vote</button></a>

    {% endfor %}
{% endblock %}